# ignore all other files
*

# files to not ignore
!.gitignore
!.config
!.config/alacritty
!.config/fish
!.config/dunst
!.config/i3
!.config/polybar
!.config/zsh
!.fonts
!scripts
!.vimrc
!.zshenv
!README.md
