.antigen/
.bash_history
.bash_logout
.bashrc
.cache/
.cargo/
.config/GIMP/
.config/Joplin/
.config/MuseScore/
.config/QtProject.conf
.config/VSCodium/
.config/ardour5/
.config/autostart/
.config/dconf/
.config/discord/
.config/enchant/
.config/eog/
.config/evolution/
.config/falkTX/
.config/geary/
.config/gedit/
.config/gnome-boxes/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/jack/
.config/joplin-desktop/
.config/kactivitymanagerdrc
.config/kdeconnect/
.config/kglobalshortcutsrc
.config/lbry/
.config/libreoffice/
.config/libvirt/
.config/linuxsampler.org/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/neofetch/
.config/okularpartrc
.config/okularrc
.config/pulse/
.config/rncbc.org/
.config/session/
.config/transmission/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/whatsdesk/
.config/zoomus.conf
.config/zsh/
.drumgizmo/
.eclipse/
.fonts/.uuid
.gitconfig
.gnupg/
.helm/
.ipython/
.jackdrc
.java/
.joplin/
.jupyter/
.lemminx/
.lesshst
.local/
.log/
.lsp4xml/
.m2/
.mozc/
.mozilla/
.nv/
.p10k.zsh
.p2/
.pam_environment
.pki/
.profile
.rustup/
.ssh/
.sudo_as_admin_successful
.swt/
.thunderbird/
.tooling/
.var/
.viminfo
.vscode-oss/
.wget-hsts
.whatsdesk/
.zcompcache/
.zcompdump
.zcompdump-pop-os-5.7.1
.zoom/
.zprofile
.zsh_history
.zsh_plugins.sh
.zshrc.omz-uninstalled-2020-04-06_08-39-50
.zshrc.zwc
.zynaddsubfx-bank-cache.xml
.zynaddsubfxXML.cfg
Documents/
Downloads/
MEGA/
Pictures/
eclipse-workspace/
fahclient_7.5.1_amd64.deb
mozilla.pdf
sfz/
